<div class="confirmationDialog" style="background-color:#E6E6FA;">
  <h1 mat-dialog-title align="center">Zmiana hasła dla użytkownika: {{username}}</h1>

  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field>
      <br>
      <input matInput [(ngModel)]="password" placeholder="Nowe hasło" type="password">
    </mat-form-field>
    <mat-form-field>
      <br>
      <input matInput [(ngModel)]="repeatPassword" placeholder="Powtórz nowe hasło" type="password">
    </mat-form-field>
  </div>
  <div *ngIf="error" class="center error-message">
    <i class="material-icons">error</i> Hasło nie jest takie samo
  </div>


  <div align="center">
    <button mat-raised-button color="primary" (click)="updatePassword()" >Potwierdź</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Anuluj</button>
  </div>

</div>
