<div class="editDialog" style="background-color:#E6E6FA;">
  <h1 mat-dialog-title align="center">Edycja. SKU: {{jewel.sku}}</h1>
  <div fxLayout="row">
    <div *ngFor="let image of jewel.images">
      <img src="{{image.imageLink}}" height="200" width="200"/>
    </div>
    <div *ngIf="jewel.images.length == 0">
      <mat-label>Brak obrazów</mat-label>
    </div>
  </div>
  <br><br>
  <mat-label>Nazwa: {{jewel.name}}</mat-label>
  <br>
  <mat-label>Typ: {{jewel.type}}</mat-label>
  <br>
  <mat-label>Klasa podatkowa: {{jewel.taxClass}}</mat-label>
  <br>
  <mat-label>W magazynie?: {{jewel.inStorage}}</mat-label>
  <br>
  <mat-label>Magazyn: {{jewel.storage}}</mat-label>
  <br>
  <mat-label>Nazwa atrybutu 1: {{jewel.attribute1Name}}</mat-label>
  <br>
  <mat-label>Wartości atrybutu 1: {{jewel.attribute1Value}}</mat-label>
  <br>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Krótki opis:</mat-label>
      <br>
      <textarea matInput [(ngModel)]="jewel.shortDescription" readonly="true" style="border:solid 1px black;"></textarea>
    </div>
    <div>
      <mat-form-field>
        <br>
        <textarea matInput [(ngModel)]="jewel.shortDescriptionEdited" style="border:solid 1px black;" placeholder="Krótki opis edytowalny:"></textarea>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Opis:</mat-label>
      <br>
      <textarea matInput [(ngModel)]="jewel.description" readonly="true" style="border:solid 1px black;"></textarea>
    </div>
    <div>
      <mat-form-field>
        <br>
        <textarea matInput [(ngModel)]="jewel.descriptionEdited" style="border:solid 1px black;" placeholder="Opis edytowalny:"></textarea>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <mat-label>Waga (kg): {{jewel.weight}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.weightEdited" placeholder="Waga (kg) edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Długość (cm): {{jewel.width}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.widthEdited" placeholder="Długość (cm) edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Szerokość (cm): {{jewel.length}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.lengthEdited" placeholder="Szerokość (cm) edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Wysokość (cm): {{jewel.height}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.heightEdited" placeholder="Wysokość (cm) edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Cena promocyjna: {{jewel.promoPrice}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.promoPriceEdited" placeholder="Cena promocyjna edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Cena: {{jewel.price}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.priceEdited" placeholder="Cena edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Kategorie: {{jewel.category}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.categoryEdited" placeholder="Kategorie edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-label>Tagi: {{jewel.tags}}</mat-label>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="jewel.tagsEdited" placeholder="Tagi edytowalna:">
      </mat-form-field>
    </div>
  </div>
  <br>
  <h4 mat-line *ngIf="responded">Result: {{response.result}}</h4>
  <br>
  <div align="center">
    <button mat-raised-button color="primary" (click)="save(jewel)" >Zapisz</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Anuluj</button>
  </div>

</div>


