<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID.</th>
          <td mat-cell *matCellDef="let sourcefile"> {{sourcefile.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let sourcefile"> {{sourcefile.name}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="importDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Import Date</th>
          <td mat-cell *matCellDef="let sourcefile"> {{sourcefile.importDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="row.id === selectedId" (click)="onSelect(row.id)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <app-source-file-details-list [selectedId]="selectedId"></app-source-file-details-list>

  </mat-grid-tile>
</mat-grid-list>



