<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!--<nav>-->
    <!--<a routerLink="/jewelry-list" routerLinkActive="active">Jewelry</a>-->
    <!--<a routerLink="/import-file" routerLinkActive="active">Import File</a>-->
  <!--</nav>-->
  <!--<router-outlet></router-outlet>-->

  <app-jewelry-list></app-jewelry-list>

</div>
