<div fxLayout="row" fxLayoutAlign="start">
  <div fxLayout="column" fxLayoutAlign="flex-start" *ngIf="settings !== undefined">
    <mat-label>Kurs USD: {{settings.usdRate|currency:'PLN '}}</mat-label>
    <br>
    <mat-label>Marża normalna: {{settings.regularRate/100|percent}}</mat-label>
    <br>
    <mat-label>Marża promocyjna: {{settings.promoRate/100|percent}}</mat-label>
    <br>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button (click)="openUploadDialog()">Załaduj plik</button>
  <button mat-raised-button (click)="generateFile()">Wygeneruj XLS</button>
  <button mat-raised-button (click)="updatePassword()">Zmień hasło</button>
  <button mat-raised-button (click)="updateSettings()">Zmień ustawienia</button>
  <button mat-raised-button (click)="logout()">Wyloguj</button>
</div>

<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- Business ID Column -->
    <ng-container matColumnDef="businessId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let jewel"> {{jewel.businessId}}</td>
    </ng-container>

    <!-- SKU Column -->
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU</th>
      <td mat-cell *matCellDef="let jewel"> {{jewel.sku}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
      <td mat-cell *matCellDef="let jewel"> {{jewel.name}}</td>
    </ng-container>

    <!-- Price USD Column -->
    <ng-container matColumnDef="priceUsd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena w USD</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.priceUsd|currency}}</td>
      </div>
    </ng-container>

    <!-- Price PLN Column -->
    <ng-container matColumnDef="pricePln">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena w PLN</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.priceUsd * settings.usdRate|currency:'PLN '}}</td>
      </div>
    </ng-container>

    <!-- Price Sugested Column -->
    <ng-container matColumnDef="priceSugested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena sugerowana</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.priceUsd * settings.usdRate * ((settings.regularRate + 100) / 100) * 1.23|currency:'PLN '}}</td>
      </div>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.priceEdited|currency:'PLN '}}</td>
      </div>
    </ng-container>

    <!-- Promo Price Sugested Column -->
    <ng-container matColumnDef="promoPriceSugested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena promocyjna sugerowana</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.priceUsd * settings.usdRate * ((settings.promoRate + 100) / 100) * 1.23|currency:'PLN '}}</td>
      </div>
    </ng-container>

    <!-- Promo Price Column -->
    <ng-container matColumnDef="promoPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena promocyjna</th>
      <div class="price">
        <td mat-cell *matCellDef="let jewel"> {{jewel.promoPriceEdited|currency:'PLN '}}</td>
      </div>
    </ng-container>

    <!-- Edit Button -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Akcje</th>
      <td mat-cell *matCellDef="let jewel">
        <button mat-button (click)="onEdit(jewel)">Edytuj</button>
        <button mat-button (click)="onDelete(jewel)">Usun</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="row-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" *ngFor="let image of row.images">
          <img src="{{image.imageLink}}" height="200" width="200"/>
        </div>
        <div class="row-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" *ngIf="row.images.length == 0">
          <mat-label>Brak obrazów</mat-label>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === row"
        (click)="expandedElement = row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>
